
{% load static %}
{% block content %}
{% include "includes/header.html" %}
<div class="main-panel">
    <div class="content-wrapper">
        
        <div class="row">
            <div class="content-wrapper full-page-wrapper d-flex align-items-center ">
              <div class="card col-12 mx-auto">
                <div class="card-body px-5 py-5">
                  <h3 class="card-title text-left mb-3">Add User</h3>
                  <form method="POST" action="add_user_byagent">
                    {% csrf_token %}
                  
                    {% if messages %}
                                  {% for message in messages %}
                                  <div  {% if message.tags %} class=" {{ message.tags }} " {% endif %} role="alert"> {{ message }} </div>
                                  <br>
                                  {% endfor %}                            
                              {% endif %}
  
  
                    <div class="form-group">
                      <label>Sponsor</label>
                      <input type="text" name="sponsor" class="form-control p_input" style="color: black;" value="{{ request.user }}" disabled>
                    </div>
  
  
                    <div class="form-group">
                      <label>Username</label>
                      <input type="text" name="username" class="form-control p_input" style="color: white;">
                    </div>
  
                    <div class="form-group">
                      <label>Full Name</label>
                      <input type="text" name="name" class="form-control p_input" style="color: white;">
                    </div>

               
  
  
                    <div class="form-group">
                      <label>Email</label>
                      <input type="email" name="email" class="form-control p_input" style="color: white;">
                    </div>
  
  
                    <div class="form-group">
                      <label>Phone No.</label>
                      <input type="number" name="phone" class="form-control p_input" style="color: white;">
                    </div>
    
  
                    <div class="form-group">
                      <label>Password</label>
                      <input type="password" name="password" class="form-control p_input" style="color: white;">
                    </div>
                  
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary btn-block enter-btn">Add</button>
                    </div>
                   
                
                  </form>
                </div>
              </div>
            </div>
            <!-- content-wrapper ends -->
          </div>
    </div>
    </div>
    

{% include "includes/footer.html" %}

{% endblock %}